{% extends "base.html" %}

{% block content %}
<div class="mx-auto w-1/2 my-9">
    <div class="w-full max-w-2xl bg-white rounded-lg shadow-lg p-8">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-400{% endif %} ">
                        {{message}}                     
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form method="POST" enctype='multipart/form-data' class="space-y-4">            
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg transition duration-300">Submit</button>
        </form>
    </div>
</div>   

{% endblock content %}
