<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Create Event</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
    <div class="w-full max-w-2xl bg-white rounded-lg shadow-lg p-8">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-400{% endif %} ">
                        {{message}}                     
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form method="POST" class="space-y-4">            
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="w-full bg-rose-500 hover:bg-rose-600 text-white font-semibold py-3 px-6 rounded-lg transition duration-300">Submit</button>
        </form>
    </div>
</body>
</html>

