{% extends "base.html" %}
{% block title %}Create Category{% endblock title %}

{% block content %}
        <h1 class="flex justify-center text-3xl font-bold text-gray-600 p-4">{{ title }}</h1>

        <form method="POST" class="bg-white p-6 rounded-xl shadow-md max-w-lg mx-auto space-y-4">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
            <div>
              <label class="block font-semibold mb-1" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              <p class="text-sm text-red-600">{{ field.errors }}</p>
              {% if field.help_text %}
                <p class="text-gray-500 text-xs mt-1">{{ field.help_text }}</p>
              {% endif %}
            </div>
          {% endfor %}

          <div class="text-center">           
            <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-semibold px-6 py-2 rounded">
              Save
            </button>
            <a href="{% url 'category-list' %}" class="ml-4 text-white font-semibold px-6 py-2 rounded bg-red-500 hover:bg-red-600">Cancel</a>
          </div>
        </form>
{% endblock content %}