{% extends "dashboard/dashboard.html" %}
{% block title %}Categories{% endblock title %}

{% block events %}
<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold text-gray-600">Categories</h1>
  <a href="{% url 'category-create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded">Add Category</a>
</div>

<table class="min-w-full bg-white shadow rounded-lg overflow-hidden">
  <thead class="bg-blue-100 text-gray-700 uppercase text-sm font-semibold">
    <tr>
      <th class="py-3 px-4 text-left">Name</th>
      <th class="py-3 px-4 text-left">Description</th>
      <th class="py-3 px-4 text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr class="border-b">
      <td class="py-3 px-4">{{ category.name }}</td>
      <td class="py-3 px-4">{{ category.description|truncatewords:10 }}</td>
      <td class="py-3 px-4 text-center space-x-2">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-400{% endif %} ">
                        {{message}}                     
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <a href="{% url 'category-update' category.id %}" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 text-sm">Edit</a>

        <form action="{% url 'category-delete' category.id %}" method="post" class="inline">
          {% csrf_token %}
          <button type="submit" onclick="return confirm('Are you sure to delete this category?');" 
          class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 text-sm">
          Delete
          </button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="3" class="text-center py-4 text-gray-500">No categories found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock events %}