
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            font-family: "Inter", sans-serif;
        }
    </style>
</head>
<body class="bg-gray-50 p-10">
    <div class="max-w-[1400px] mx-auto">
        <!-- Navbar -->
    <nav class="flex justify-between items-center mb-8">
            <div class="flex space-x-4">
                <a href="{% url "manager_dashboard" %}" class="text-gray-700 hover:text-blue-600 font-semibold">Home</a>
                <a href="{% url 'event-list' %}" class="text-gray-700 hover:text-blue-600 font-semibold">Events</a>
                <a href="{% url 'category-list' %}" class="text-gray-700 hover:text-blue-600 font-semibold">Categories</a>
                <a href="{% url 'participant-list' %}" class="text-gray-700 hover:text-blue-600 font-semibold">Participants</a>
                <a href="#" class="text-gray-700 hover:text-blue-600 font-semibold">Blogs</a>
                <a href="#" class="text-gray-700 hover:text-blue-600 font-semibold">Contact</a>
            </div>
    
            <!-- Search Bar -->
            <div class="ml-4 flex">
                <input type="text" placeholder="event's name or location..."
                    class="border border-gray-300 rounded-l px-3 py-1 focus:outline-none focus:ring-2 focus:ring-blue-400" />
                <button class="bg-blue-500 text-white rounded-r px-4 py-1 hover:bg-blue-600">Search</button>
            </div>
    </nav>     
        <!-- Header    -->
    <header class="flex justify-center items-center mb-8">
        <h2 class="text-3xl font-bold text-gray-600">Dashboard</h2>      
    </header>

    <main>
        <!-- Stats Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-8">
            <!-- Total Events -->
            <a href="{% url "manager_dashboard" %}">
            <div class="bg-white rounded-xl p-6 shadow-md">
                <h3 class="text-sm text-gray-500 mb-4 font-medium">TOTAL EVENTS</h3>
                <div class="flex justify-between items-start">
                    <div>
                        <p class="text-3xl font-semibold mb-1">{{ counts.total }}</p>
                    </div>
                    <div class="bg-blue-100 rounded-full p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            class="w-6 h-6 text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round"                                   
                                d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                        </svg>
                    </div>
                </div>
            </div>
            </a>

            <!-- Upcoming Events -->
            <a href="{% url "manager_dashboard" %}?type=upcoming">
            <div class="bg-white rounded-xl p-6 shadow-md">
                <h3 class="text-sm text-gray-500 mb-4 font-medium">UPCOMING EVENTS</h3>
                <div class="flex justify-between items-start">
                    <div>
                        <p class="text-3xl font-semibold mb-1">{{ counts.upcoming_events }}</p>                        
                    </div>
                    <div class="bg-green-100 rounded-full p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            class="w-6 h-6 text-green-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </div>
                </div>
            </div>
            </a>

            <!-- Past Events -->
            <a href="{% url "manager_dashboard" %}?type=past_events">
            <div class="bg-white rounded-xl p-6 shadow-md">
                <h3 class="text-sm text-gray-500 mb-4 font-medium">PAST EVENTS</h3>
                <div class="flex justify-between items-start">
                    <div>
                        <p class="text-3xl font-semibold mb-1">{{ counts.past_events }}</p>
                    </div>
                    <div class="bg-yellow-100 rounded-full p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            class="w-6 h-6 text-yellow-600">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </div>
                </div>
            </div>
            </a>

            <!-- Total Participants -->
            <a href="{% url "manager_dashboard" %}?type=all_participants">
            <div class="bg-white rounded-xl p-6 shadow-md">
                <h3 class="text-sm text-gray-500 mb-4 font-medium">ALL PARTICIPANTS</h3>
                <div class="flex justify-between items-start">
                    <div>
                        <p class="text-3xl font-semibold mb-1">{{ total_unique_participants }}</p>
                    </div>
                    <div class="bg-purple-100 rounded-full p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            class="w-6 h-6 text-purple-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                        </svg>
                    </div>
                </div>
            </div>
            </a>
            
        </div>
        <!-- Participant list -->

                {% if type == 'all_participants' %}
                    <h2 class="flex justify-center text-2xl font-semibold mb-4 text-gray-800">Participants</h2>
                    <ul>
                        {% for participant in events.participants.all %}
                            <li>{{ participant.name }} - {{ participant.email }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
        {% block events %}

        {% endblock events %}

    </main>     
    <footer class="px-4 py-4 mt-8 text-center">
        <p class="text-gray-600">&copy; 2025 Event Management Company. All rights reserved.</p>
    </footer>
    </div>
</body>
</html>
